@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

* {margin: 0; padding: 0}

label {
    display: grid;
    min-height: 3em;
    padding: .8em 1em;
    border-bottom: 1px solid gray;
    grid-template-areas:
                "text . arrow"
                "img img img";
    grid-template-columns: 1fr 1.2em 2em;
    place-items: center;
}

label p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    grid-area: text;
    justify-self: start;
    color: blue;
}

label img {
    width: 0;
    grid-area: img;
    transition: 400ms;
}

label svg {
    width: 16px;
    height: 16px;
    grid-area: arrow;
    transition: 200ms;
}

label:has(input:checked) {
    row-gap: .8em;
}

label:has(input:checked) p {
    color: black;
}

label:has(input:checked) img {
    width: 80%;
}

label:has(input:checked) svg {
    transform: rotate(-180deg);
}

@media (hover: hover) {
    label:hover {
        row-gap: .8em;
    }

    label:hover img {
        width: 80%;
    }

    label:hover svg {
        transform: rotate(-180deg);
    }

    .bayan:has(label:hover) p{
        color: black;
    }
}